.middle-box {
  display: flex;
  flex-direction: row; /* Change to row to align items horizontally */
  justify-content: space-between; /* Add space between the two containers */
  padding: 5px;
  border: 1px solid #2c2c54;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 15vw;
  height: 20vh;
  margin: 10px auto 30px auto;
}

.undo-container,
.redo-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
}

.undo-button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2c2c54; /* Dark blue-gray button color */
  color: #fff;
  border: none;
  border-radius: 5px;
}

.undo-button:disabled {
  background-color: #6a6a9a; /* Disabled button color */
  cursor: not-allowed;
}

.arrow-icon {
  font-size: 100px;
  color: #2c2c54;
  margin-top: 10px;
}
