.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
  }
  
  .inpainting-button,
  .paintbrush-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .paintbrush-button {
    border-radius: 5px;
    cursor: pointer;
  }

  .right-icon{
    font-size: 35px;
  }
  